# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
*.json
*.json
*.log
cmake-build-debug/Testing/Temporary/LastTest.log
cmake-build-debug/_deps/raylib-subbuild/.ninja_log
cmake-build-debug/_deps/raylib-src/
cmake-build-debug/.cmake/api/v1/reply/target-PinkKuzuchi-Debug-eb3b760e752fa831e7f3.json
cmake-build-debug/.cmake/api/v1/reply/index-2025-01-27T19-29-41-0663.json
cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-e1f4264d694b34c09ecd.json
cmake-build-debug/Testing/Temporary/LastTest.log
cmake-build-debug/_deps/raylib-subbuild/.ninja_log
cmake-build-debug/.cmake/api/v1/reply/target-PinkKuzuchi-Debug-eb3b760e752fa831e7f3.json
cmake-build-debug/.cmake/api/v1/reply/index-2025-01-27T19-29-41-0663.json
cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-e1f4264d694b34c09ecd.json
*.log
